[user]
	name = Rodrigo Machado
	email = 29443508+denioma@users.noreply.github.com
[credential]
	helper = /mnt/c/Users/rod-k/scoop/apps/git/current/mingw64/libexec/git-core/git-credential-manager-core.exe